doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 This Is Form

//- - const divCls = ["form-control", "color-class", "borderclass"]
//-     div.container(class=divCls)

//- input(value="test" name:"submit")