<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Hello. This Is Home Page</h1>
    <!-- 
    <h1>
        <%=name%>
    </h1>
    <h2>
        <%=id%>
    </h2> -->

    <!-- For If Else Condition -->
    <!-- <%if(id> 2) {%>
        <h1>Home</h1>
        <%} else { %>
            <h1>Blog</h1>
            <%}%>
        -->

    <!-- Loops -->
    <!-- <ul>
        <%bloges.forEach(function(item){%>
            <li>
                <%=item%>
            </li>
            <%})%>
    </ul> -->
</body>

</html>